# Dwelling and Tenure Characteristics by Region

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/CC_Ward_Dwelling_Structure.csv')

In [3]:
df.head()

,CENSUS_YEAR,WARD,DWELLING_TYPE,DWELLING_TYPE_CODE,DWELLING_TYPE_DESCRIPTION,DWELLING_CNT,RESIDENT_CNT,OCPD_DWELLING_CNT,VACANT_DWELLING_CNT,OCPD_OWNERSHIP_CNT,RENOVATION_DWELLING_CNT,UNDER_CONST_DWELLING_CNT,INACTIVE_CNT,OTHER_PURPOSE_CNT
0,2019,1,SINGLE FAMILY HOME,1,A structure originally designed and built to c...,23063,67008,22559,296,20319,59,122,7.0,20.0
1,2019,1,DUPLEX,2,A structure originally designed and built to c...,1959,4353,1855,60,1118,5,37,1.0,1.0
2,2019,1,MULTI-PLEX,3,A structure originally designed and built to c...,84,123,65,18,18,0,1,0.0,0.0
3,2019,1,APARTMENT,4,A structure originally designed and built to c...,4741,7344,4487,237,1714,8,1,3.0,5.0
4,2019,1,TOWN HOUSE,5,A structure originally designed and built to c...,3972,7832,3717,149,2090,11,89,6.0,0.0

In [4]:
df = df[df['CENSUS_YEAR'] == 2019]

In [5]:
df_total = df.drop(columns = ['DWELLING_TYPE_DESCRIPTION', 'RESIDENT_CNT', 'DWELLING_TYPE_CODE', 'DWELLING_TYPE_DESCRIPTION', 'DWELLING_TYPE', 'OTHER_PURPOSE_CNT', 'INACTIVE_CNT'])

In [6]:
df_total['RENO_AND_CONST'] = df_total.RENOVATION_DWELLING_CNT + df_total.UNDER_CONST_DWELLING_CNT

In [7]:
df_total = df_total.drop(columns = ['RENOVATION_DWELLING_CNT', 'UNDER_CONST_DWELLING_CNT'])

### Which Wards for Which Districts?

- City Centre: Ward 7, Ward 8
- East: Ward 9
- West: Ward 6
- North: Ward 2, Ward 3, Ward 4
- North East: Ward 5, Ward 10
- North West: Ward 1
- South: Ward 11, Ward 13, Ward 14
- South East: Ward 12

### Sorting the Data by Area

In [8]:
# creating arrays for the areas that have more than 2 wards
cc = [7,8]
north = [2,3,4]
ne = [5,10]
south = [11,13,14]

City Centre

In [9]:
df_city_centre = df_total.loc[df_total['WARD'].isin(cc)]
df_city_centre = df_city_centre.drop(columns = 'WARD')
df_city_centre = df_city_centre.groupby('CENSUS_YEAR').sum()
df_city_centre.head()

East

In [14]:
df_east = df_total[df_total['WARD'] == 9]
df_east = df_east.drop(columns = 'WARD')
df_east = df_east.groupby('CENSUS_YEAR').sum()
df_east.head()

,DWELLING_CNT,OCPD_DWELLING_CNT,VACANT_DWELLING_CNT,OCPD_OWNERSHIP_CNT,RENO_AND_CONST
CENSUS_YEAR,,,,,
2019,41102,38157,1964,19789,620

West

In [15]:
df_west = df_total[df_total['WARD'] == 6]
df_west = df_west.drop(columns = 'WARD')
df_west = df_west.groupby('CENSUS_YEAR').sum()
df_west.head()

,DWELLING_CNT,OCPD_DWELLING_CNT,VACANT_DWELLING_CNT,OCPD_OWNERSHIP_CNT,RENO_AND_CONST
CENSUS_YEAR,,,,,
2019,35013,33452,977,26489,518

North

In [16]:
df_north = df_total.loc[df_total['WARD'].isin(north)]
df_north = df_north.drop(columns = 'WARD')
df_north = df_north.groupby('CENSUS_YEAR').sum()
df_north.head()

,DWELLING_CNT,OCPD_DWELLING_CNT,VACANT_DWELLING_CNT,OCPD_OWNERSHIP_CNT,RENO_AND_CONST
CENSUS_YEAR,,,,,
2019,97082,92329,3045,68794,1397

North East

In [17]:
df_north_east = df_total.loc[df_total['WARD'].isin(ne)]
df_north_east = df_north_east.drop(columns = 'WARD')
df_north_east = df_north_east.groupby('CENSUS_YEAR').sum()
df_north_east.head()

,DWELLING_CNT,OCPD_DWELLING_CNT,VACANT_DWELLING_CNT,OCPD_OWNERSHIP_CNT,RENO_AND_CONST
CENSUS_YEAR,,,,,
2019,62037,57289,2578,38498,1570

Nort West

In [18]:
df_north_west = df_total[df_total['WARD'] == 1]
df_north_west = df_north_west.drop(columns = 'WARD')
df_north_west = df_north_west.groupby('CENSUS_YEAR').sum()
df_north_west.head()

,DWELLING_CNT,OCPD_DWELLING_CNT,VACANT_DWELLING_CNT,OCPD_OWNERSHIP_CNT,RENO_AND_CONST
CENSUS_YEAR,,,,,
2019,34958,33672,883,25714,344

South

In [19]:
df_south = df_total.loc[df_total['WARD'].isin(south)]
df_south = df_south.drop(columns = 'WARD')
df_south = df_south.groupby('CENSUS_YEAR').sum()
df_south.head()

,DWELLING_CNT,OCPD_DWELLING_CNT,VACANT_DWELLING_CNT,OCPD_OWNERSHIP_CNT,RENO_AND_CONST
CENSUS_YEAR,,,,,
2019,117648,111898,3832,80253,1300

South East

In [20]:
df_south_east = df_total[df_total['WARD'] == 12]
df_south_east = df_south_east.drop(columns = 'WARD')
df_south_east = df_south_east.groupby('CENSUS_YEAR').sum()
df_south_east.head()

,DWELLING_CNT,OCPD_DWELLING_CNT,VACANT_DWELLING_CNT,OCPD_OWNERSHIP_CNT,RENO_AND_CONST
CENSUS_YEAR,,,,,
2019,40893,38847,846,31469,1078