# Absorption Rates

Census Tract of the report area is 0017.03

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('data/Census_Tract_Absorption.csv')
df.head()

,Province,Centre,Zone,Census Tract\nSecteur de recensement,Singles\nIndividuels,Semis\nJumelés,Row\nEn bande,Apartment\nand Other\nAppartements\net autres,Total
0,Alta/Alb.,Calgary,Downtown ~ Centre-ville,0042.00,--,--,--,1,1
1,Alta/Alb.,Calgary,Downtown ~ Centre-ville,0043.00,--,--,--,1,1
2,Alta/Alb.,Calgary,Downtown ~ Centre-ville,0046.01,--,--,--,71,71
3,Alta/Alb.,Calgary,Downtown ~ Centre-ville,0046.02,4,2,--,3,9
4,Alta/Alb.,Calgary,Beltline,0026.00,0,2,9,21,32

In [6]:
df = df.drop(columns = ['Province', 'Centre'])
df.head()

,Zone,Census Tract\nSecteur de recensement,Singles\nIndividuels,Semis\nJumelés,Row\nEn bande,Apartment\nand Other\nAppartements\net autres,Total
0,Downtown ~ Centre-ville,0042.00,--,--,--,1,1
1,Downtown ~ Centre-ville,0043.00,--,--,--,1,1
2,Downtown ~ Centre-ville,0046.01,--,--,--,71,71
3,Downtown ~ Centre-ville,0046.02,4,2,--,3,9
4,Beltline,0026.00,0,2,9,21,32

In [7]:
df = df.rename(columns = {'Neighbourhood\nQuartier' : 'Neighbourhood', 'Singles\nIndividuels' : 'Singles', 'Semis\nJumelés' : 'Semis', 'Row\nEn bande' : 'Row', 'Apartment\nand Other\nAppartements\net autres' : 'Apartment_And_Other'
                    
                })

In [8]:
sw_df = df[df['Zone'] == 'Southwest ~ Sud-Ouest']

# There is no data for the specific census tract we are looking for.

# But these are the results for Southwest.

In [10]:
sw_df.head()

,Zone,Census Tract\nSecteur de recensement,Singles,Semis,Row,Apartment_And_Other,Total
17,Southwest ~ Sud-Ouest,0015.00,13,--,3,2,18
18,Southwest ~ Sud-Ouest,0016.00,5,--,--,--,5
19,Southwest ~ Sud-Ouest,0017.01,--,--,--,1,1
20,Southwest ~ Sud-Ouest,0017.03,--,--,--,--,--
21,Southwest ~ Sud-Ouest,0017.04,--,4,--,--,4